

/* Main Layout Container */
.chat-layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }

  .chat-content {
    /* flex: 0.90; */
    flex: 1;
    overflow-y: auto;
    border-right: 1px solid #ddd; /* Border between chat list and chat view */
}

.chat-view {
    flex: 2;
    padding: 20px;
    overflow-y: auto;
}

